html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;
  bottom: 0px;
  height: 1080px;
  width: 1920px;
  z-index: -1;

}
#canvas{
  position: absolute;
  bottom: 30px;
  height: 1080px;
  width: 1920px;
  z-index: 1;


}
#gui{
  bottom: 0px;
  position:absolute;
  align-self: bottom;
  height: 30px;
  width: 1920px;
  background:none;
  z-index: 0;

}